body {
    margin: auto;
}

#container {
    margin: 20px auto 20px auto;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
}

.square {
    display: flex;
    aspect-ratio: 1 / 1;
    background-color: gold;
    border: none;
}

.square:hover {
    background-color: brown;
}